* {
    margin: 0;
    box-sizing: border-box;
    font-size: small;
}

/* html, body {
    margin: 0;
    box-sizing: border-box;
} */

.box {
    border: 1px solid black;
    width: fit-content;
    margin: 3vw;
}

.flexbox {
    display: flex;
    padding: 1%;
    flex-direction: column;
    overflow: hidden;
}

.line {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.line p:first-child{
    flex-basis: 70%;
}

.line p:not(:first-child) {
    flex-basis: 15%;
    text-align: end;
}

.linespace {
    display: flex;
    border-bottom: 1px solid black;
}

.linespace p:first-child {
    padding-left: 1em;
    flex-basis: 70%;
}

.linespace p:not(:first-child) {
    flex-basis: 15%;
    text-align: end;
}

.line-right {
    display: flex;
    justify-content: flex-end;
}

.line-large {
    background-color: black;
    height: .5em;
    width: 100%;
}

.line-small {
    background-color: black;
    height: .25em;
    width: 100%;
}

.bottomline {
    display: flex;
}

.bottomline p {
    flex-basis: 25%;
}

.bottomlinespace {
    display: flex;
}

.bottomlinespace p:not(:first-child) {
    flex-basis: 25%;
}

.bottomlinespace p:first-child {
    flex-basis: 25%;
    padding-left: 1em;
}

#why {
    border-bottom: 1px solid black;
}

.flexbox > p {
    border-top: 1px solid black;
}

.lastelement {
    display: flex;
    justify-content: center;
    gap: 1em;
}